{% load static %}
{% now 'Y-m-d' as current_date %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Fly Or Die</title>
    <link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Spartan&amp;display=swap">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/Pretty-Footer-.css' %}">
    <link rel="stylesheet" href="{% static 'css/flights.css' %}">
    <link rel="stylesheet" href="{%static 'css/Login-Form-Basic-icons.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="regi_log">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo_text" href="{% url 'flights:home' %}">
                Fly or Die
                <span style="color: rgb(61, 92, 184);">Airlines</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav text-center ms-auto">
                        {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href= "{% url 'flights:home' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flights:logout' %}">
                            <strong>
                                <span style="color: rgb(61, 92, 184);" >Log out</span>
                            </strong>
                        </a>
                    </li>
                </ul>
                    {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href= "{% url 'flights:login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flights:register' %}">
                            <strong>
                                <span style="color: rgb(61, 92, 184);">Sign Up</span>
                            </strong>
                        </a>
                    </li>
                {% endif %}
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md" id="info">
        <div class="container-fluid">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <img id="logo" src="{%static 'assets/logo.png'%}" width="142" height="70">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="search_link">
                        <a class="nav-link" href="http://127.0.0.1:8000/#search_container">search</a>
                    </li>
                    <li class="nav-item" id="about_link">
                        <a class="nav-link" href="#">about us</a>
                    </li>
                </ul>
                <button class="btn btn-primary" id="contact" type="button">contact</button>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
<!--    <div class="container" id="home_container">-->
<!--        <h1 id="slogan">-->
<!--            Create Ever-lasting-->
<!--            <br/>-->
<!--            Memories With Us-->
<!--        </h1>-->
<!--        <img id="plane_home" src="static/assets/plane2.png">-->
<!--    </div>-->
<!--    <div class="container" id="search_container">-->
<!--        <div id="div_radio">-->
<!--            <div class="form-check" id="radio-return">-->
<!--                <input class="form-check-input" type="radio" id="formCheck-1">-->
<!--                <label class="form-check-label" for="formCheck-1">Return trip</label>-->
<!--            </div>-->
<!--            <div class="form-check text-start" id="radio-one">-->
<!--                <input class="form-check-input" type="radio" id="formCheck-2">-->
<!--                <label class="form-check-label" for="formCheck-2">One way</label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <nav class="navbar navbar-light navbar-expand-md border rounded" id="navbar_search">-->
<!--            <div class="container-fluid">-->
<!--                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">-->
<!--                    <span class="visually-hidden">Toggle navigation</span>-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->
<!--                <div class="collapse navbar-collapse" id="navcol-3">-->
<!--                    <ul id="select_from" class="nav-item">-->
<!--                        <select id="select_from_box" class="text-dark bg-light border rounded-pill border-light navbar-text" onchange="CheckDropDowns(this)" autocomplete="off">-->
<!--                            <option value="" disable hidden selected>From</option>-->
<!--                            {% for airport in airports %}-->
<!--                            <option value="{{airport.airport_code}}">-->
<!--                                {{ airport.city }}-->
<!--                            </option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </ul>-->
<!--                    <ul id="select_to" class="nav-item">-->
<!--                        <select id="select_to_box" class="text-dark bg-light border rounded-pill border-light navbar-text" onchange="CheckDropDowns(this)" autocomplete="off">-->
<!--                            <option value="" disble selected hidden>To</option>-->
<!--                            {% for airport in airports %}-->
<!--                            <option value="{{airport.airport_code}}">-->
<!--                                {{ airport.city }}-->
<!--                            </option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                    </ul>-->
<!--                    <ul id="select_depature" class="nav-item">-->
<!--                        <input id="depature" class="border rounded-pill border-light d-xxl-flex align-items-xxl-start" type="date" autocomplete="off" min="{{ current_date }}"/>-->
<!--                    </ul>-->
<!--                    <ul id="select_arrival" class="nav-item">-->
<!--                        <input id="arrival" class="border rounded-pill border-light d-xxl-flex align-items-xxl-start" type="date" autocomplete="off" min="{{ current_date }}"/>-->
<!--                    </ul>-->
<!--                    <ul id="nav_search_btn" class="nav-item">-->
<!--                        <button id="search_btn" class="btn btn-primary" type="button">search</button>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--    </div>-->
<!--    <div id="add">-->
<!--        <section id = "add_placholder">-->
<!--    <div class="placeholder bg-light border rounded border-light jumbotron py-5 px-4">-->
<!--        <h1 class="text-center">-->
<!--            We-->
<!--            <br/>-->
<!--            know-->
<!--            <br/>-->
<!--            your plans-->
<!--            <br/>-->
<!--            might change-->
<!--            <br/>-->
<!--            LAST-MINUTE-->
<!--        </h1>-->
<!--    </div>-->
<!--</section>-->
<!--    </div>-->
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3>
                    <a href="#">Fly or Die&nbsp;
                        <span>Airlines</span>
                    </a>
                </h3>
                <p class="links">
                    <a href="#">Home</a>
                    <strong> · </strong>
                    <a href="#">Search</a>
                    <strong> · </strong>
                    <a href="#">About Us</a>
                    <strong> ·&nbsp;</strong>
                    <a href="#">Contact</a>
                </p>
                <p class="company-name">Fly Or Die Airlines © 2023</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"></span>
                    <p> Warsaw, Poland</p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start">
                        <a href="mailto:kalina.pilc@gmail.com" target="_blank">kalina.pilc@gmail.com</a>
                    </p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>
                        <a href="mailto:w.guzek09@gmail.com" target="_blank">w.guzek09@gmail.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>About the company</h4>
                <p>
                    Learn more about our
                    <strong>
                        <span style="color: rgb(83, 131, 211);">employees</span>
                    </strong>
                    <span style="color: rgb(83, 131, 211);"> </span>
                    by visiting their websites
                </p>
                <div class="text-start social-links social-icons">
                    <a href="https://www.linkedin.com/in/kalina-pilc/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/wojciech-guzek-8646511a2/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/CheckDropDowns.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/datepicker.js'%}"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>-->
</body>
</html>