{% load static %}
{% now 'Y-m-d' as current_date %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        Fly Or Die
    </title>
    <link rel="stylesheet" href="{%static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Spartan&amp;display=swap">
    <link rel="stylesheet" href="{%static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/lo-re.css' %}">
    <link rel="stylesheet" href="{% static 'css/reservation_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/summary.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="regi_log">
        <div class="container-fluid">
            <a class="navbar-brand" id="logo_text" href="{% url 'flights:home' %}">
                Fly or Die
                <span style="color: rgb(61, 92, 184);">
                    Airlines
                </span>
            </a>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav text-center ms-auto">
                    {% if user.is_authenticated %}
                    <form id="profile-post" action="/profile/" method="POST">
                        {% csrf_token %}
                        <li class="nav-item">
                            <input type="hidden" name="username" value="{{ request.user.id }}">
                            <a class="nav-link active" href="{% url 'flights:profile' %}" onclick="event.preventDefault(); submitPost();">
                                Profile
                            </a>
                        </li>
                    </form>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'flights:logout' %}">
                            <strong>
                                <span style="color: rgb(61, 92, 184);" >
                                    Log out
                                </span>
                            </strong>
                        </a>
                    </li>
                </ul>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href= "{% url 'flights:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'flights:register' %}">
                        <strong>
                            <span style="color: rgb(61, 92, 184);">
                                Sign Up
                            </span>
                        </strong>
                    </a>
                </li>
                {% endif %}
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light navbar-expand-md" id="info">
        <div class="container-fluid">
            <img id="logo" src="{%static 'assets/logo.png'%}" width="142" height="70">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" id="search_link">
                        <a class="nav-link" href="{% url 'flights:home' %}#search_container">
                            search
                        </a>
                    </li>
                    <li class="nav-item" id="about_link">
                        <a class="nav-link" href="{% url 'flights:about' %}">
                            about us
                        </a>
                    </li>
                </ul>
                <a id="contact" class="btn btn-primary" role="button" href="{% url 'flights:home' %}#footer">
                    contact
                </a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="row" id="footer">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3>
                    <a href="{% url 'flights:home' %}">
                        Fly or Die&nbsp;
                        <span>
                            Airlines
                        </span>
                    </a>
                </h3>
                <p class="links">
                    <a href="{% url 'flights:home' %}">
                        Home
                    </a>
                    <strong>
                        ·
                    </strong>
                    <a href="{% url 'flights:home' %}#search_container">
                        Search
                    </a>
                    <strong>
                        ·
                    </strong>
                    <a href="{% url 'flights:about' %}">
                        About Us
                    </a>
                </p>
                <p class="company-name">
                    Fly Or Die Airlines © 2023
                </p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div>
                    <span class="fa fa-map-marker footer-contacts-icon"></span>
                    <p>
                        Warsaw, Poland
                    </p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p class="footer-center-info email text-start">
                        <a href="mailto:kalina.pilc@gmail.com" target="_blank">
                            kalina.pilc@gmail.com
                        </a>
                    </p>
                </div>
                <div>
                    <i class="fa fa-envelope footer-contacts-icon"></i>
                    <p>
                        <a href="mailto:w.guzek09@gmail.com" target="_blank">
                            w.guzek09@gmail.com
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 footer-about">
                <h4>
                    About the company
                </h4>
                <p>
                    Learn more about our
                    <strong>
                        <span style="color: rgb(83, 131, 211);">
                            employees
                        </span>
                    </strong>
                    <span style="color: rgb(83, 131, 211);"> </span>
                    by visiting their websites
                </p>
                <div class="text-start social-links social-icons">
                    <a href="https://www.linkedin.com/in/kalina-pilc/" target="_blank">
                        <i id="icon_k" class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/wojciech-guzek-8646511a2/" target="_blank">
                        <i id="icon_w" class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/CheckDropDowns.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/datepicker.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/OneWayTicket.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/TopOnRefresh.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/TicketPicker.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/ReturnTicketPicker.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/SubmitPost.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/NoFlight.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/NextBtn.js'%}"></script>
</body>
</html>

