{% extends 'flights/base.html' %}
{% block content %}

    <div class="container">
        <div id="img_div">
            <h1 class="display-3 text-lowercase text-end text-dark" id="motto" style="padding-bottom: 34px;margin-left: 94px;padding-right: 105px;padding-left: 380px;padding-top: 0px;margin-top: -53px;margin-right: -78px;">" Die with memories, not dreams "</h1>
            <nav class="navbar navbar-light navbar-expand-md border rounded-pill" style="background: rgba(255,255,255,0.82);">
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="navbar-nav">
                            <li class="nav-item align-self-center" id="title_item">
                                <ul id="title" class="nav-item">
                                    <select id="dropdown_title" class="text-light border rounded-pill navbar-text" autocomplete="off">
                                        <option value="" selected="" hidden="">Title</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>MS</option>
                                    </select>
                                </ul>
                            </li>
                            <li class="nav-item align-self-center" id="name_item">
                                <input class="bg-white border rounded border-white shadow-lg" type="text" id="name_input" required="" minlength="3" maxlength="10" placeholder="Name" autocomplete="off">
                            </li>
                            <li class="nav-item align-self-center" id="surname_item">
                                <input class="bg-white border rounded border-white shadow-lg" type="text" id="surname_input" required="" minlength="2" maxlength="20" placeholder="Surname" autocomplete="off">
                            </li>
                        </ul>
                        <button class="btn btn-primary ms-auto" id="submit_form" type="submit">Submit</button>
                    </div>
            </nav>
        </div>
    </div>

{% endblock content %}