{% extends 'flights/base.html' %}
{% block content %}
{% if flights %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            {% for flight in flights %}
            <div class="container_flight" id="istheflight_{{ flight.flight_id}}">
                <button class="btn btn-primary" id="istheflight_btn_{{ flight.flight_id}}" onclick="TicketPicker(this)" type="button">
                    Select
                </button>
                <div class="row" id="date_time_table">
                    <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="departure_date_time_col">
                        <span id="departure_date_time">
                            {{ flight.departure_time }}
                        </span>
                    </div>
                    <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="arrival_date_time_col">
                        <span id="arrival_date_time">
                            {{ flight.arrival_time }}
                        </span>
                    </div>
                </div>
                <span id="price">
                    {{ flight.price }}
                </span>
                <div class="row" id="airport_table">
                    <div class="col-sm-6 col-xxl-6 d-xxl-flex justify-content-xxl-center" id="departure_airport_col">
                        <span id="departure_airport">
                            {{ flight.departure_airport_code }}
                        </span>
                    </div>
                    <div class="col-sm-6 d-xxl-flex justify-content-xxl-center" id="arrival_airport_col">
                        <span id="arrival_airport">
                            {{ flight.arrival_airport_code }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
<!--         <input type="hidden" name="selected_flight_id" id="selectedFlightId">-->
        {% else %}
        <p>No flights found.</p>
        {% endif %}

        {% if return_flights %}
        <div class="col-md-6">
            {% for flight in return_flights %}
            <div class="container_flight_return" id="istheflight_return_{{ flight.flight_id}}">
                <button class="btn btn-primary" id="istheflight_btn_return_{{ flight.flight_id}}" onclick="ReturnTicketPicker(this)" type="submit">
                    Select
                </button>
                <div class="row" id="date_time_table_return">
                    <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="departure_date_time_col_return">
                        <span id="departure_date_time_return">
                            {{ flight.departure_time }}
                        </span>
                    </div>
                    <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="arrival_date_time_col_return">
                        <span id="arrival_date_time_return">
                            {{ flight.arrival_time }}
                        </span>
                    </div>
                </div>
                <span id="price_return">
                    {{ flight.price }}
                </span>
                <div class="row" id="airport_table_return">
                    <div class="col-sm-6 col-xxl-6 d-xxl-flex justify-content-xxl-center" id="departure_airport_col_return">
                        <span id="departure_airport_return">
                            {{ flight.departure_airport_code }}
                        </span>
                    </div>
                    <div class="col-sm-6 d-xxl-flex justify-content-xxl-center" id="arrival_airport_col_return">
                        <span id="arrival_airport_return">
                            {{ flight.arrival_airport_code }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
<!--             <input type="hidden" name="selected_flight_id" id="selectedReturnFlightId">-->
            {% else %}
            <p id="no_flights">No flights found.</p>
            {% endif %}

        </div>
    </div>
</div>
<form id="flightForm" action="/make_reservation/" method="POST">
  {% csrf_token %}
  <input type="hidden" value="" name="selected_flight_id" id="selectedFlightId">
    <input type="hidden" value="" name="selectedReturnFlightId" id="selectedReturnFlightId">
  <button id="next" class="btn btn-primary" type="button">Next</button>
</form>

{% endblock content %}