{% extends 'flights/base.html' %}
{% block content %}
{% if flights %}

{% for flight in flights %}
<div class="container" id="istheflight">
    <button class="btn btn-primary" id="istheflight_btn" type="submit">
        Submit
    </button>
        <div class="row" id="date_time_table">
            <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="departure_date_time_col">
                <span id="departure_date_time">
                    {{ flight.departure_time }}
                </span>
            </div>
            <div class="col-sm-6 col-xxl-5 d-xxl-flex justify-content-xxl-center" id="arrival_date_time_col">
                <span id="arrival_date_time">
                    {{ flight.arrival_time }}
                </span>
            </div>
        </div>
    <span id="price">
        {{ flight.price }}
    </span>
        <div class="row" id="airport_table">
            <div class="col-sm-6 col-xxl-6 d-xxl-flex justify-content-xxl-center" id="departure_airport_col">
                <span id="departure_airport">
                    {{ flight.departure_airport_code }}
                </span>
            </div>
            <div class="col-sm-6 d-xxl-flex justify-content-xxl-center" id="arrival_airport_col">
                <span id="arrival_airport">
                    {{ flight.arrival_airport_code }}
                </span>
            </div>
        </div>
    </div>
      {% endfor %}

{% else %}
  <p>No flights found.</p>
{% endif %}
{% endblock content %}