{% extends 'flights/base.html' %}
{% block content %}
{% if flights %}
  <table class="text-center">
    <thead class="text-center">
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Departure Date</th>
        <th>Arrival Date</th>
        <th>Price</th>
      </tr>
    </thead >
    <div  class="text-center">
    <tbody class="text-center">
      {% for flight in flights %}
        <tr class="text-center">
          <td>{{ flight.departure_airport_code }}</td>
          <td>{{ flight.arrival_airport_code }}</td>
          <td>{{ flight.departure_time }}</td>
          <td>{{ flight.arrival_time }}</td>
          <td>{{ flight.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
      </div>
  </table>
{% else %}
  <p>No flights found.</p>
{% endif %}

{% endblock %}