/* login.html | register.html */

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: hsl(225, 50%, 48%);
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

#header {
  font-family: 'League Spartan';
  font-weight: 700;
  padding: 20px;
  color: hsl(225, 50%, 48%);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'League Spartan';
}

.btn {
  background-color: hsl(225, 50%, 48%);
  border-color: hsl(225, 50%, 48%);
  border-radius: 200px;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: hsl(225, 50%, 38%);
  border-color: hsl(225, 50%, 38%);
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: hsl(225, 50%, 28%);
  border-color: hsl(225, 50%, 28%);
}

.text-policy{
  padding-top: 40px;
}
