/* search.html */

.container_flight, .container_flight_return {
  background: url("istheticket.PNG");
  background-size: contain;
  padding: 80px;
  padding-bottom: 70px;
  margin-top: 30px;
  /*margin-left: 50px;*/
  height: 100px;
  width: 830px;
}

#istheflight_btn, #istheflight_btn_return, button[id^="istheflight_btn_"] {
  margin-left: 601px;
  background-color: hsl(225, 50%, 48%);
  color: white;
}

#date_time_table, #date_time_table_return {
  margin-top: -92px;
  width: 600px;
}

#departure_date_time, #arrival_date_time, #departure_date_time_return, #arrival_date_time_return {
  color: black;
  font-weight: 600;
}

#airport_table, #airport_table_return {
  margin-right: 142px;
  margin-top: 6px;
}

#price, #price_return {
  text-shadow: 2px 1px 2px rgb(116,146,231);
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #304991;
  margin-left: 600px;
}

#departure_date_time_col, #arrival_date_time_col, #departure_date_time_col_return, #arrival_date_time_col_return {
  width: 265px;
}

#next {
  margin-left: 1250px;
  margin-top: 135px;
  padding-left: 30px;
  padding-right: 30px;
}

#no_flights {
  margin-left: 25px;
}
