/* search.html */

#istheflight {
  background: url("istheticket.PNG");
  background-size: contain;
  padding: 80px;
  margin-top: 100px;
  height: 100px;
  width: 890px;
}

#istheflight_btn {
  margin-left: 647px;
  background-color: hsl(225, 50%, 48%);
  color: white;
}

#date_time_table {
  margin-top: -92px;
  width: 600px;
}

#departure_date_time, #arrival_date_time {
  color: black;
  font-weight: 600;
}

#airport_table {
  margin-right: 142px;
  margin-top: 19px;
}

#price {
  text-shadow: 2px 1px 2px rgb(116,146,231);
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #304991;
  margin-left: 656px;
}

#departure_date_time_col, #arrival_date_time_col {
  width: 300px;
}